# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
.venv/
BORE/
.idea/
env/

# Ignore recordings folder
recordings/

# Ignore system files
.DS_Store
Thumbs.db
/.idea/
